# Add account credentials and API keys here.
# See http://railsapps.github.com/rails-environment-variables.html
# This file should be listed in .gitignore to keep your settings secret!
# Each entry sets a local environment variable and overrides ENV variables in the Unix shell.
# For example, setting:
# GMAIL_USERNAME: Your_Gmail_Username
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]
# Add application configuration variables here, as shown below.
#
ADMIN_NAME: EAM Administrator
ADMIN_EMAIL: eam@gacmotor.com
ADMIN_PASSWORD: 1234567890
ROLES: [admin, finadmin, acctadmin, finmgr, acctmgr, assetadmin, costadmin, user]
