common: &common
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: boboism
  password: 123456
  database: eam_<%= Rails.env %>
  host: 127.0.0.1

development:
  <<: *common

test:
  <<: *common

production:
  <<: *common
