common: &common
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: 
  password: 

development:
  <<: *common
  database: eam_development

test:
  <<: *common
  database: eam_test

production:
  <<: *common
  database: eam_production
